.butt {
  background-color: #0d99c7 !important;
  border: none !important;
  padding: 0.8rem 2rem !important;
  border-radius: 50px !important;
  font-size: 1rem !important;
  color: white !important;
  font-weight: 600 !important;
  transition: all 0.3s ease !important;
}
butt:hover {
  background-color: #08a1cf;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(13, 153, 199, 0.5);
}
butt:active {
  background-color: #0ea4e9;
  scale: 0.95;
}
.input{
  /* border: 1px solid #0ea4e9; */
  box-shadow: 0px 0px 5px #0ea4e9;
}