.serives-section {
  margin-top: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.services-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

